*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    inset: 0;
    margin: 0;
    background-color: rgb(35, 35, 35);
    overflow: hidden;
}
main{
    height: 100vh;
    width: 100%;
    background-image: url(img/img.jpg) ;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.snow{
    top: 0;
    left: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(img/snow.png);
    background-position: center;
    background-size: cover;
    animation: animasiSnow 4s ease-in-out infinite;
}
@keyframes animasiSnow {
    0%{
        transform: translate(0,0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(100px,50vh);
        opacity: 0;
    }
}
